<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dennis.balmoris.com.happytiger">

    <application
        android:name=".SplashTime"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodStores" android:label="@string/FoodEstablishments"  />
        <activity android:name=".Settings" android:label="@string/Settings"/>
        <activity android:name=".CoffeeList" />
        <activity android:name=".FastFoodList" />
        <activity android:name=".CarinderiaList" />
        <activity android:name=".ShakesList" />
        <activity android:name=".RestaurantsList" />
        <activity android:name=".StreetfoodList" />
        <activity android:name=".SignupActivity" android:label="@string/Signup" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ProfileActivity" android:label="@string/MyProfile" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".PasswordActivity" android:label="@string/Reset" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MessageActivity" android:label="@string/Message" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".CoffeeStores.Starbucks" />
        <activity android:name=".CoffeeStores.BosCoffee" />
        <activity android:name=".CoffeeStores.CafeKhivan" />
        <activity android:name=".CoffeeStores.IChill" />
        <activity android:name=".CoffeeStores.Seattles" />
x




    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>