<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dennis.balmoris.com.happytiger">

    <application
        android:name=".SplashTime"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FoodStores" />
        <activity android:name=".Favorites" />
        <activity android:name=".Settings" />
        <activity android:name=".PizzaList" />
        <activity android:name=".ChickenList" />
        <activity android:name=".CarinderiaList" />
        <activity android:name=".ShakesList" />
        <activity android:name=".RestaurantsList" />
        <activity android:name=".StreetfoodList" />
        <activity android:name=".SignupActivity" />
    </application>

</manifest>